
/* Standards zurücksetzen */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner {
    display: none;    
    position: absolute;
    bottom: 3vh;
    left: 20vw;
    background-color: #eee;
    width: 60vw;
    padding: 1% 2%;
}



